html{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 200px auto;
  width: 800px;
  text-align: center;
  align-items: center;
}
.addTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(254, 88, 88);
  width: 100%;
  font-size: 3rem;
}
.addTask div {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.addTask input {
  font-size: 3rem;
  padding: 4px 10px;
}
.addTask button {
  font-size: 3rem;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.addTask button:hover {
  background-color: rgb(202, 202, 202);
}

.task {
  display: flex;
  width: 100%;
  align-items: center;
}
.task button {
  font-size: 3rem;
  border: none;
  cursor: pointer;
}
.task h2 {
  font-size: 3rem;
  margin-left: 20px;
}
.removeTask {
  margin-left: auto;
  background-color: rgb(175, 218, 255);
  padding: 5px 10px;
  border-radius: 5px;
}
.removeTask:hover {
  background-color: rgb(110, 176, 234);
}
.checkTask {
  background-color: rgb(137, 255, 190);
  border-radius: 5px;
  padding: 5px 10px;
}